<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NWABUEZE KOSISOCHUKWU'S PORTFOLIO</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                
            </ul>
        </nav>
    </header>

    <section>
        <div class="hero flex items-center justify-between">
            <div class="left flex-1 justify-center">
                <img src="{% static 'images/profile photo.jpeg' %}" alt="profile">
            </div>
            <div class="right flex-1">
                <h2>Nwabueze kosisochukwu</h2>
                <h1>I'm a Data Scientist/Analyst, <br>
                    <span>Cybersecurity Specialist,</span><br>
                    <span>and Software Developer.</span>
                </h1>
                <p>
                    Discover the multifaceted brilliance of Mr. Desmond,<br>
                    a polymath excelling as a Data Scientist,<br>
                    Cybersecurity Specialist, and Software Developer.
                </p>
                <a href="{% static 'files/Desmond_Oghanihun_CV.pdf' %}" download class="btn btn-secondary">DOWNLOAD CV</a>
            </div>
        </div>
    </section>
</body>

</html>
